.home-page {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--white);
}

.home-page section:nth-child(1) {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.home-page section:nth-child(2) {
    height: 62vh;
    width: 100%;
    position: relative;
    background: var(--background-linear-gradient);
}

.home-page section:nth-child(3) {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white);
}

.home-page section:nth-child(4) {
    padding: 100px 0;
    height: 110vh;
    min-height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--white);
}

.home-page section:nth-child(3)>a,
.home-page section:nth-child(4)>a {
    margin-top: 2%;

}

.home-head-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    position: relative;
    padding: 1.5% 15% 0 15%;
}

.slider-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slider-img {
    height: 45vh;
    max-width: 100%;
    border-radius: 20px;
}

.slider-image-container {
    transform: scale(0.8);
    transition: transform 0.5s;
    z-index: 1;
}

.slider-image-container.center {
    transform: scale(1);
    z-index: 2;
}

.slider-image-container:hover {
    cursor: grab;
    transform: scale(0.81);
}

.slider-image-container:hover:active {
    cursor: grabbing;
}

.slider-image-container.center:hover {
    transform: scale(1.01);
}

.bounced-text {
    position: absolute;
    bottom: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    color: black;
}

.bounced-text span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-animation-name: bounce-1;
    animation-name: bounce-1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes bounce-1 {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}