.user-heading {
    margin: 0 0 20px 0;
    color: var(--main-color);
    align-self: start;
}

.user-details {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 25px 30px;
    margin-bottom: 30px;
    width: 90%;
    min-width: 200px;
}

.user-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
}

.user-info-settings-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 10px;
}

.user-details-entry {
    display: flex;
    align-items: center;
    height: auto;
    gap: 5px;
    font-size: 1.2em;
    padding: 2px 5px;
}

.darker-entry {
    background-color: var(--light-grey-1);
    border-radius: 10px;
}

.user-details-entry-label {
    font-size: 0.8em;
    color: var(--main-color);
    width: 250px;
    font-weight: 500;
}

.user-details-entry-button {
    background-color: var(--main-color);
    color: white;
    width: 200px;
    height: 50px;
    margin-right: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 10px var(--shadow-color));
}

.user-details-entry-value {
    font-size: 0.8em;
    font-weight: 400;
}

.user-details-edit {
    align-self: end;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-details-edit img {
    color: white;
}

.user-details-edit:hover {
    cursor: pointer;
}

.manage-account-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    row-gap: 20px;
    margin: 40px 20px 0 0;
}

.manage-account-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    transition: .3s ease;
    color: var(--black);

}

.manage-account-button:hover {
    cursor: pointer;
    color: var(--main-color);
}

.delete-account:hover {
    color: var(--lost-red-text);
}


.user-categories-container {
    padding: 30px 0px 20px 20px;
    height: 100vh;
    margin-left: 5vw;
    width: 30vw;
    position: fixed;
}

.user-categories {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.user-category {
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
    text-align: end;
    font-size: 1.2em;
    font-weight: 500;
    transition: transform 0.3s ease;
    /* Ajoutez cette ligne */
}

.user-category:hover {
    color: var(--main-color);
    cursor: pointer;
    transform: translateX(-10px);
    /* Ajoutez cette ligne */
}

.user-categories .MuiDivider-root {
    flex-grow: 1;
}


.user-info-container {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65vw;
    margin-left: auto;
}